<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">About Me!</h1>
                <h3>Who am I?</h3>
                <br>
                <img src="img/IMG_4780_Original_Original.jpg" alt="An image of me!" class="about-me-image">
                <h5 class="ab-image-text">I am Adarsh S Prabhan.
                                          I am currently a software 
                                          engineering student.
                                          I love coding and problem solving.
             
                </h5>
                <br>
                <h2>My Resume</h2>
                <div class="resume-container">
                    <iframe src="content/resume/Adarsh's Resume 2.pdf" width="60%"
                        height="75%" allow="autoplay">
                    </iframe>
                </div>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>