<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to my Portfolio!</h1>
                <br>
                <h4><i>"Code is poetry in the language of computers."</i></h4>
                <br>
                <p class="ms-para">"I'm a student learning to code in Toronto. I really love video games and space. 
                    I enjoy solving problems with code.
                    Every time I write code, I try to make it neat and work well. 
                    I want it to be helpful now and in the future. I'm excited to be a part of shaping technology for tomorrow."
                </p>
                <h2>Want to learn more about me?</h2>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-outline-primary" href="about" role="button">Click Here!</a>
                </div>
            </div>
        </main>
        <!--bottom nav-->


        <!--script section-->
        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>