<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Check out my Specialities!</h1>
                <h3>Contact me if you are interested in my services</h3>
                <!--Carousel of services-->
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg.avif" class="d-block w-100 img1"
                                alt="stock image of web app development">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="slide-heading">Web Application Development</h5>
                            </div>
                        </div> 
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br>
                <h2>Have a project in mind?</h2>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto contact-button">
                <a class="btn btn-outline-primary" href="contact" role="button">Let's Get in Touch!</a>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>